
.editor {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.editor_title {
  width: 100%;
  display: border-box;
  padding: 10px;
  font-size: 24px;
}

.editor_main {
  flex: 1;
  display: flex;
}

.editor_edit {
  flex: 1;
}

.editor_display {
  flex: 1;
  background-color: yellow;
  border-left: 1px solid black;
  overflow: auto;
  padding: 20px;
}
