
.new-post {
  cursor: pointer;
  position: relative;
}

.new-post_button {
  padding: 10px;
  color: @accentp5;
  transition: background-color .3s ease;

  &:hover {
    background-color: @primaryRatherLight;
  }
}

.new-post_input {
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  height: 52px;
  outline: none;
  border: none;
}

.m-icon-button {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 15px;

  &:hover {
    color: #aaa;
  }
}

.new-post_ok {
  right: 20px;

  .m-icon-button;
}

.new-post_cancel {
  right: 5px;

  .m-icon-button;
}

