
<footer class="site-footer">
  <div class="inner last">
    <section class="poweredby">
      <a href="https://github.com/kywk/hexo-theme-spp">SPP</a> theme ported from <a href="http://ghostscroll.grmmph.com/">GhostScroll</a> by <a href="kywk.github.io/moco">MooCow</a>.<br>
      Proudly published with <a href="http://hexo.io/">Hexo</a></section>
    </section>
  </div>
</footer>
