# gitignore file, modified from kernel srctree
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.

#
# Normal rules
#
.*
\#*#

# Numerous always-ignore extensions
*.bak
*.tmp
*.patch
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# git files that we don't want to ignore even it they are dot-files
!.gitignore
!.mailmap

# stgit generated dirs
patches-*


#
# Development tools
#

# SCM Folders to ignore
.hg
.svn
.CVS
.idea
dist


#
# OS/Editor folders and files
#
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace


#
# User define
#
tmp/*
vim/.netrwhist
vim/view/*
